@import './base.css';

#app {
  max-width: 100%;
  padding: 2rem;
}

a,
.green {
  text-decoration: none;
  color: rgba(255, 255, 255, 0);    /* Прозрачный цвет */
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}